version: '3'

services:
  app:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    container_name: chat-app
    volumes:
      - ./:/var/www
    ports:
      - "9000:9000"
      - "8080:8080"
    working_dir: /var/www
    environment:
      DB_HOST: chat-db
      DB_PORT: 5432
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
    networks:
      - chat_network
    depends_on:
      - chat-db
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -q -U ${DB_USERNAME} -d ${DB_DATABASE}"]
      interval: 10s
      retries: 5


  nginx:
    image: nginx:latest
    container_name: chat-nginx
    volumes:
      - './docker/nginx:/etc/nginx/conf.d/'
      - ./:/var/www
    ports:
      - "8090:80"
      - "4433:443"
    depends_on:
      - app
    networks:
      - chat_network

  chat-db:
    image: postgres:latest
    container_name: chat-db
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5480:5432"
    networks:
      - chat_network

networks:
  chat_network:

volumes:
  pg_data:
